<!-- Seat Number -->
<form method="POST">
    <label for="seatN">Seat Number:</label>
    <select id="seatN" name="seat_number">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
        <option value="5">6</option>
        <option value="6">7</option>
        <option value="7">8</option>
    </select>
    <input type="submit" value="Set Seat Number">
</form>

<!-- Channel Number -->
<form method="POST">
    <label for="channel">Channel:</label>
    <select id="channel" name="channel">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
        <option value="5">6</option>
        <option value="6">7</option>
        <option value="7">8</option>
    </select>
    <input type="submit" value="Set Channel">
</form>

<!-- Band -->
<form method="POST">
    <label for="band">Band:</label>
    <select id="band" name="band">
        <option value="0">A</option>
        <option value="1">B</option>
        <option value="2">R</option>
        <option value="3">E</option>
        <option value="4">F</option>
        <option value="5">L</option>
        <option value="6">H</option>
        <option value="8">U</option>
        <option value="9">J</option>
        <option value="a">S</option>
        <option value="b">M</option>
        <option value="c">Q</option>
        <option value="d">X</option>
        <option value="e">Y</option>
        <option value="f">Z</option>
    </select>
    <input type="submit" value="Set Band">
</form>

<!-- Antenna Mode-->
<form method="POST">
    <label for="antenna_mode">Antenna Mode:</label>
    <select id="antenna_mode" name="antenna_mode">
        <option value="3">ClearView</option>
        <option value="1">Left Only</option>
        <option value="2">Right Only</option>
        <option value="0">Legacy Diversity</option>
    </select>
    <input type="submit" value="Set Antenna Mode">
</form>

<!-- ID String -->
<form method="POST">
    <label for="id_string">ID String:</label>
    <input type="text" id="id_string", name="id">
    <input type="submit" value="Set Pilot ID">
</form>

<!-- User Message -->
<form method="POST">
    <label for="user_msg">User Message:</label>
    <input type="text" id="user_msg", name="user_message">
    <input type="submit" value="Set User Message">
</form>

<!-- Live Video Test Button-->
<form method="POST">
    <input type="submit" value="Show Live Video">
</form> 