

<!-- Channel Number -->
<form method="POST" enctype="text/plain">
    <label for="channel">Channel:</label>
    <select id="channel" name="channel">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
        <option value="5">6</option>
        <option value="6">7</option>
        <option value="7">8</option>
    </select>
    <input type="submit" value="Set Channel">
</form>

<!-- Band -->
<form method="POST" enctype="text/plain">
    <label for="band">Band:</label>
    <select id="band" name="band">
        <option value="0">A</option>
        <option value="1">B</option>
        <option value="2">R</option>
        <option value="3">E</option>
        <option value="4">F</option>
        <option value="5">L</option>
        <option value="6">H</option>
        <option value="8">U</option>
        <option value="9">J</option>
        <option value="a">S</option>
        <option value="b">M</option>
        <option value="c">Q</option>
        <option value="d">X</option>
        <option value="e">Y</option>
        <option value="f">Z</option>
    </select>
    <input type="submit" value="Set Band">
</form>

<!-- Antenna Mode - No return method so disabled
<form method="POST" enctype="text/plain">
    <label for="antenna_mode">Antenna Mode:</label>
    <select id="antenna_mode" name="antenna_mode">
        <option value="3">ClearView</option>
        <option value="1">Left Only</option>
        <option value="2">Right Only</option>
        <option value="0">Legacy Diversity</option>
    </select>
    <input type="submit" value="Set Antenna Mode">
</form> -->

<!-- Vide Format -->
<form method="POST" enctype="text/plain">
    <label for="video_format">Video Format:</label>
    <select id="video_format" name="video_format">
        <option value="Auto">Auto</option>
        <option value="NTSC">NTSC</option>
        <option value="PAL">PAL</option>
    </select>
    <input type="submit" value="Set Video Mode">
</form>

<!-- ID String -->
<form method="POST" enctype="text/plain">
    <label for="id_string">ID String:</label>
    <input type="text" id="id_string", name="id">
    <input type="submit" value="Set Pilot ID">
</form>

<!-- User Message -->
<form method="POST" enctype="text/plain">
    <label for="user_msg">User Message:</label>
    <input type="text" id="user_msg", name="user_message">
    <input type="submit" value="Set User Message">
</form>

<!-- Live Video Test Button-->
<!-- <form method="POST"> -->
    <!-- <input type="submit" value="Show Live Video"> -->
<!-- </form>  -->

<script>
    document.title = "CVCM Settings";

    function send_form(jsondata){
      console.log("Sending JSON form to server:" + jsondata)  
      var request = $.ajax({
            type: "POST",
            url: '/settings',
            dataType: 'json',
            data: jsondata,
            contentType: "application/json",
            processData: false,
            success: function(msg) {
              for (var k in msg) {
                console.log(k + "-> " + msg[k])
                if (k == "req_report") {
                    document.getElementById(k).innerHTML="Response:" + "'" + msg[k]+ "'"
                } else {
                    var el = document.getElementById(k);
                    console.log("TODO: Process id " + k)
                    // el.innerHTML=k[msg]
                }
              }
            }
        })
        .done(function(data){
            console.log("Done")
        })
        .fail(function(){
            console.log("Fail Submit")
        });
    }

    $(document).on('submit', 'form', function (event){
        event.preventDefault();
        var object = {};
        $(this.elements).each(function() {
            $(this).each(function() {
                if (this.name != "") {
                    object[this.name] = this.value
                }
            });
        });
        object = JSON.stringify(object);
        console.log("Sending JSON to server:" + object)
        send_form(object);
    }); 
    


    function getAllJSON(){
        var xhr = new XMLHttpRequest();
        var requestURL = "/settings";
        xhr.open('POST', requestURL, true);

        const json = {
            "channel": "?",
            "band": "?",
            "video_format": "?",
        };

        //Send the proper header information along with the request
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function() { // Call a function when the state changes.
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                console.log(xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                for (var k of Object.keys(response)) {
                    // https://www.w3schools.com/js/js_json_http.asp
                    document.getElementById(k).innerHTML = response[k];
                }
            }
        }

        xhr.send(JSON.stringify(json));
    }
</script>