<!-- Channel Number -->
<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="channel">Channel</label>
            <select id="channel" name="channel"  class="channel">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
                <option value="4">5</option>
                <option value="5">6</option>
                <option value="6">7</option>
                <option value="7">8</option>
            </select>
        </li>
    </ol>
</form>
<div id="error_channel"></div>

<!-- Band -->
<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="band">Band</label>
            <select id="band" name="band"  class="band">
                <option value="0">A</option>
                <option value="1">B</option>
                <option value="2">R (Raceband)</option>
                <option value="3">E</option>
                <option value="4">F (FatShark)</option>
                <option value="5">L</option>
                <option value="6">H</option>
                <option value="8">U</option>
                <option value="9">J</option>
                <option value="a">S</option>
                <option value="b">M</option>
                <option value="c">Q</option>
                <option value="d">X</option>
                <option value="e">Y</option>
                <option value="f">Z</option>
            </select>
        </li>
    </ol>
</form>
<div id="error_band"></div>

<!-- Antenna Mode -->
<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="antenna">Antenna Mode</label>
            <select id="antenna" name="antenna"  class="antenna">
                <option value="3">ClearView</option>
                <option value="1">Left Only</option>
                <option value="2">Right Only</option>
                <option value="0">Legacy Diversity</option>
            </select>
        </li>
    </ol>
</form>
<div id="error_antenna"></div>

<!-- Video Format -->
<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="video_format">Video Format</label>
            <select id="video_format" name="video_format"  class="video_format">
                <option value="A">Auto</option>
                <option value="N">NTSC</option>
                <option value="P">PAL</option>
            </select>
        </li>
    </ol>
</form>
<div id="error_video_format"></div>

<!-- ID String -->
<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="id">ID String</label>
            <input type="text" id="id", name="id">
            <input type="submit" value="Save Pilot ID">
        </li>
    </ol>
</form>
<div id="error_id"></div>

<!-- User Message -->
<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="user_msg">User Message</label>
            <input type="text" id="user_msg", name="user_msg">
            <input type="submit" value="Save User Message">
        </li>
    </ol>
</form>
<div id="error_user_msg"></div>

<!-- Live Video Test Button-->
<!-- <form method="POST"> -->
    <!-- <input type="submit" value="Show Live Video"> -->
<!-- </form>  -->

<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="wifi_power">Wifi Power</label>
            <select id="wifi_power" name="wifi_power"  class="wifi_power">
                <option value="8">2 dBm (Lowest Power)</option>
                <option value="20">5 dBm</option>
                <option value="28">7 dBm</option>
                <option value="34">8 dBm</option>
                <option value="44">11 dBm</option>
                <option value="52">13 dBm</option>
                <option value="56">14 dBm</option>
                <option value="60">15 dBm</option>
                <option value="66">16 dBm</option>
                <option value="72">18 dBm</option>
                <option value="78">20 dBm (Highest Power)</option>
           </select>
        </li>
    </ol>
</form>
<div id="error_wifi_power"></div>

<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="mode">Display Mode</label>
            <select id="mode" name="mode"  class="mode">
                <option value="L">Live Video</option>
                <option value="M">Menu</option>
                <option value="S">Spectrum Analyzer</option>
           </select>
        </li>
    </ol>
</form>
<div id="error_mode"></div>

<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="osd_position">OSD Position</label>
            <select id="osd_position" name="osd_position"  class="osd_position">
                <option value="0">Top Left</option>
                <option value="1">Mid Left</option>
                <option value="2">Low Left</option>
                <option value="3">Bottom Left</option>
                <option value="4">Top Right</option>
                <option value="5">Mid Right</option>
                <option value="6">Low Right</option>
                <option value="7">Bottom Right</option>
           </select>
        </li>
    </ol>
</form>
<div id="error_osd_position"></div>

<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="osd_visibility">OSD Visibility</label>
            <select id="osd_visibility" name="osd_visibility"  class="osd_visibility">
                <option value="E">Showing</option>
                <option value="D">Hidden</option>
           </select>
        </li>
    </ol>
</form>
<div id="error_osd_visibility"></div>

<!-- <form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <button id="reset_lock" name="reset_lock"  class="reset_lock" value="1" innerHTML="Reset Lock">
        </li>
    </ol>
</form>
<div id="error_reset_lock"></div>  -->



<script>
    document.title = "CVCM Settings";
    console.log("Settings block")

    getAllJSON({
        "channel": "?",
        "band": "?",
        "antenna": "?",
        "video_format": "?",
        "id": "?",
        "user_msg": "?",
        "wifi_power": "?",
        "mode": "?",
        "osd_position": "?",
        "osd_visibility": "?"
    });

</script>