<div id="current_status" class="status">
    <h2>Current Status</h2>
    <ol>
        <li>
            <div class="label">Seat:</div>
            <div class="seat">---</div>
            <div class="error-message error_seat"></div>
        </li>
        
        <!-- <li>
            <div class="label">Lock Status:</div>
            <div id="lock">TODO</div>
            <div id="error_lock" class="error-message"></div>
        </li> -->
       
    </ol>
</div>

<script>
    console.log("subtitle")
    getAllJSON({
        "seat": "?"//,
        //"lock": "?"
    });
    
</script>


    