<table style="table-layout: fixed; width: 100%;">
  <tr>
        <td>
            <p>Seat:</p>
            <output id="seat",style="text-align: left; width: 50%;">...</output>
            <div id="error_seat"></div>
        </td>
        <!-- <td>
            <p>Lock Status:</p>
            <output id="lock",style="text-align: left; width: 50%;">1</output>
            <div id="error_lock"></div>
        </td> -->
  </tr>
</table>
<hr>

<script>
    console.log("subtitle")
    getAllJSON({
        "seat": "?"//,
        //"lock": "?"
    });
    
</script>


    