<form action="/settings" method="POST" enctype="text/plain">
  <label for="led">Choose a LED State</label>
  <select id="led" name="led" >
    <option value="on">Turn On</option>
    <option value="off">Turn Off</option>
    <option value="breathe_slow">Breathe Slow</option>
    <option value="breathe_fast">Breathe Fast</option>
    <option value="blink_slow">Blink Slow</option>
    <option value="blink_fast">Blink Fast</option>
  </select>
</form>
<div id="error_led"></div>

<!-- <form action="/settings" method="POST" enctype="text/plain">
  <label for="user_message">Enter User Message</label>
  <input type="text" id="user_message" name="user_message">
  <input type="submit" value = "Set User Message">
</form> -->

<!-- <form id = "lockform" action="/settings" method="POST" enctype="text/plain">
  <input type="hidden" id="lock" name="lock" value="?">
  <input type="submit" value = "Request Lock State">
</form> -->

<form action="/settings" method="POST" enctype="text/plain">
  <label for="send_cmd">Custom Command</label>
  <input type="text" id="send_cmd" name="send_cmd">
  <input type="submit" value = "Send Command">
</form>

<form action="/settings" method="POST" enctype="text/plain">
  <label for="req_report">Custom Report</label>
  <input type="text" id="send_report" name="req_report">
  <input type="submit" value = "Send Report">
  <label id="req_report"></label>
</form>
<hr>

<h3>Advanced Settings</h3>

<p>address:</p>
<output id="address">...</output>
<div id="error_address"></div>

<p>mode:</p>
<output id="mode">...</output>
<div id="error_mode"></div>

<p>osd_visibility:</p>
<output id="osd_visibility">...</output>
<div id="error_address"></div>

<p>lock status:</p>
<output id="lock">...</output>
<div id="error_lock"></div>

<p>video format:</p>
<output id="video_format">...</output>
<div id="error_video_format"></div>

<p>cv_version:</p>
<output id="cv_version">...</output>
<div id="error_cv_version"></div>

<p>cvcm_version:</p>
<output id="cvcm_version">...</output>
<div id="error_cvcm_version"></div>

<p>cvcm_version_all:</p>
<output id="cvcm_version_all">...</output>
<div id="error_cvcm_version_all"></div>

<p>mac address:</p>
<output class="mac_addr" id="mac_addr">...</output>
<div id="error_mac_addr"></div>

<p>ip address:</p>
<output id="ip_addr">...</output>
<div id="error_ip_addr"></div>

<p>wifi_state:</p>
<output id="wifi_state">...</output>
<div id="error_wifi_state"></div>

<p>wifi_power (0.25 dBm):</p>
<output id="wifi_power">...</output>
<div id="error_wifi_power"></div>


<script>
    console.log("Test block")
    document.title = "CVCM Test";

    getAllJSON({
        "led": "?",
        "address": "?",
        "mode": "?",
        "osd_visibility": "?",
        "lock": "?",
        "video_format": "?",
        "cv_version": "?",
        "cvcm_version": "?",
        "cvcm_version_all": "?",
        "mac_addr": "?",
        "ip_addr": "?",
        "wifi_state": "?",
        "wifi_power": "?"
    });
    
</script>
