<form method="POST" enctype="text/plain">
    <ol>
        <li class="working">
            <label for="led">Choose a LED State</label>
            <select id="led" name="led"  class="led">
              <option value="on">Turn On</option>
              <option value="off">Turn Off</option>
              <option value="breathe_slow">Breathe Slow</option>
              <option value="breathe_fast">Breathe Fast</option>
              <option value="blink_slow">Blink Slow</option>
              <option value="blink_fast">Blink Fast</option>
            </select>
        </li>
    </ol>
</form>
<div id="error_led"></div>

<!-- <form action="/settings" method="POST" enctype="text/plain">
  <label for="user_message">Enter User Message</label>
  <input type="text" id="user_message" name="user_message">
  <input type="submit" value = "Set User Message">
</form> -->

<!-- <form id = "lockform" action="/settings" method="POST" enctype="text/plain">
  <input type="hidden" id="lock" name="lock" value="?">
  <input type="submit" value = "Request Lock State">
</form> -->

<form action="/settings" method="POST" enctype="text/plain">
    <ol>
        <li class="success">
            <label for="send_cmd">Custom Command</label>
            <input type="text" id="send_cmd" name="send_cmd">
            <input type="submit" value = "Send Command">
        </li>
    </ol>
</form>

<form action="/settings" method="POST" enctype="text/plain">
    <ol>
        <li class="success">
            <label for="req_report">Custom Report</label>
            <input type="text" id="send_report" name="req_report">
            <input type="submit" value = "Send Report">
            <label id="req_report"></label>
        </li>
    </ol>
</form>
<hr>


<div id="advanced_settings" class="status">
    <h2>Advanced Settings</h2>
    <ol>
        <li>
            <div class="label">address</div>
            <div class="address">---</div>
            <div class="error-message" id="error_address"></div>
        </li>
        <li>
            <div class="label">mode</div>
            <div class="mode">---</div>
            <div class="error-message" id="error_mode"></div>
        </li>
        <li>
            <div class="label">osd_visibility</div>
            <div class="osd_visibility">---</div>
            <div class="error-message" id="error_osd_visibility"></div>
        </li>
        <li>
            <div class="label">lock status</div>
            <div class="lock">---</div>
            <div class="error-message" id="error_lock"></div>
        </li>
        <li>
            <div class="label">video format</div>
            <div class="video_format">---</div>
            <div class="error-message" id="error_video_format"></div>
        </li>
        <li>
            <div class="label">cv_version</div>
            <div class="cv_version">---</div>
            <div class="error-message" id="error_cv_version"></div>
        </li>
        <li>
            <div class="label">cvcm_version</div>
            <div class="cvcm_version">---</div>
            <div class="error-message" id="error_cvcm_version"></div>
        </li>
        <li>
            <div class="label">cvcm_version_all</div>
            <div class="cvcm_version_all">---</div>
            <div class="error-message" id="error_cvcm_version_all"></div>
        </li>
        <li>
            <div class="label">mac address</div>
            <div class="mac_addr" id="mac_addr">---</div>
            <div class="error-message" id="error_mac_addr"></div>
        </li>
        <li>
            <div class="label">ip address</div>
            <div class="ip_addr">---</div>
            <div class="error-message" id="error_ip_addr"></div>
        </li>
        <li>
            <div class="label">wifi_state</div>
            <div class="wifi_state">---</div>
            <div class="error-message" id="error_wifi_state"></div>
        </li>
        <li>
            <div class="label">wifi_power (0.25 dBm)</div>
            <div class="wifi_power">---</div>
            <div class="error-message" id="error_wifi_power"></div>
        </li>
    </ol>
</div>


<script>
    console.log("Test block")
    document.title = "CVCM Test";

    getAllJSON({
        "led": "?",
        "address": "?",
        "mode": "?",
        "osd_visibility": "?",
        "lock": "?",
        "video_format": "?",
        "cv_version": "?",
        "cvcm_version": "?",
        "cvcm_version_all": "?",
        "mac_addr": "?",
        "ip_addr": "?",
        "wifi_state": "?",
        "wifi_power": "?"
    });

</script>
