<script>
    document.title = "CVCM WiFi";
    // document.getElementById("seat").innerHTML = "Seat: " + getSeatNumber();
    getAllJSON();

    function getAllJSON(){
        var xhr = new XMLHttpRequest();
        var requestURL = "/settings";
        xhr.open('POST', requestURL, true);

        const json = {
            "seat": "?"
        };

        //Send the proper header information along with the request
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function() { // Call a function when the state changes.
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                console.log(xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                for (var k of Object.keys(response)) {
                    // https://www.w3schools.com/js/js_json_http.asp
                    document.getElementById(k).innerHTML = response[k];
                }
            }
        }

        xhr.send(JSON.stringify(json));
    }
</script>

<!-- Seat Number -->
<form method="POST" enctype="text/plain" action = "/wifi_config">
    <label for="seatN">Seat Number:</label>
    <select id="seatN" name="seat_number">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
        <option value="5">6</option>
        <option value="6">7</option>
        <option value="7">8</option>
    </select>
    <input type="submit" value="Set Seat Number TEST">
</form>
<hr>
<form method="POST" enctype="text/plain" action = "/wifi_config">

    <label for="ssid">Network SSID:</label><br>
    <input type="text" id="ssid" name="ssid" value="%s"><br>

    <label for="password">Network Password:</label><br>
    <input type="text" id="password" name="password" value="%s"><br>

    <label for="device_name">Device Name:</label><br>
    <input type="text" id="device_name" name="device_name" value="%s"><br>

    <label for="broker_ip">Broker IP Address:</label><br>
    <input type="text" id="broker_ip" name="broker_ip" value="%s"><br>

    <input type="submit" value="Save and Join Network">
</form>