CONFIG_ENABLE_SERIAL=y
CONFIG_ENABLE_LED=y
CONFIG_BOTH_WIFI_ALLOWED=y
CONFIG_STARTUP_WIFI_SOFTAP=y
CONFIG_ENABLE_MQTT=y
CONFIG_WEB_SERVER_SOFTAP_ONLY=y
CONFIG_EXAMPLE_CONNECT_WIFI=y
CONFIG_ESP32_WIFI_NVS_ENABLED=n
CONFIG_ESP32_PHY_CALIBRATION_AND_DATA_STORAGE=n
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

#OTA
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_OTA_ALLOW_HTTP=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#These are enabled for Iftron Production
CONFIG_HW_VERSION_IFTRON_A=y
CONFIG_CONSOLE_UART_NONE=y
